.containerTabList {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 460px; */
  column-gap: 30px;
}
.containerTabList .tabList {
  height: 460px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: space-between;
}
.containerTabList .tabList div {
  background-color: rgb(233, 228, 228);
  padding: 15px 0px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.containerTabList .tabList .activeBtn {
  background-color: red;
  color: white;
}
.containerTabList .tabList div h5 {
  font-size: 20px;
}
.containerTabList .tabList div p {
  font-size: 12px;
}
.containerTabList .tabProducts {
  grid-column: span 2;
}
.containerTabList .tabProducts .boxProduct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 460px;
  column-gap: 30px;
}
.boxProduct img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.containerTabList .tabProducts .boxProduct div {
  position: relative;
}
.containerTabList .tabProducts .boxProduct div .tabSales {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  display: flex;
  column-gap: 10px;
  background-color: black;
  padding: 20px 40px 40px 20px;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 4px;
}
.containerTabList .tabProducts .boxProduct div .tabName {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 10px;
  color: white;
}
.containerTabList .tabProducts .boxProduct div .tabName p {
  font-size: 18px;
  font-weight: 700;
}
.activeTab {
  background-color: red;
}
.containerTabList .tabProducts .boxProduct {
  display: none;
}
.containerTabList .tabProducts .activeContent {
  display: block;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 460px;
  column-gap: 30px;
}
@media (max-width: 900px) {
  .containerTabList .tabProducts .boxProduct {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .containerTabList .tabProducts .boxProduct {
    display: none;
  }
  .containerTabList .tabProducts .activeContent {
    display: block;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .containerTabList {
    padding: 50px 100px 50px 20px;
  }
}
@media (max-width: 672px) {
  .containerTabList {
    padding: 50px 20px;
  }
}

@media (max-width: 672px) {
  .containerTabList {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 0px;
  }
  .containerTabList .tabList {
    width: 100%;
  }
}
